@charset "UTF-8";

.background{
	background-image: url(../images/fondof.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	overflow-y: hidden; 
	
}
.background-color{
	background-color: #6f5e43;
}

#container .boxed {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    
    text-transform: uppercase;
}
/* Para centrar los h1, h2 y button sin que ocupen todo el ancho de la pantalla*/
#container {
	display: flex;
	flex-direction: column;
	
	align-items: center;/*centra los items, evitando que ocupen todo el ancho de la pantalla*/
}
.btn {
    border: 5px solid rgba(255, 255, 255, 0.9);
    color: #fff;
    border-radius: 0;
    margin-top: 35px;
    font-size: 26px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    padding: 10px 15px;
    /*text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;*/
    z-index: 10px;
}

.btn:hover {
    background-color: #9A92FF;
    color: #202020;
}
/*clase en la que muestra una linea debajo del menu seleccionado, tiene que estar esa clae en cada archivo xhtm*/
.selected{
	border-bottom:2px solid #fff;
	bottom: 2px;
}

/* para los check box */
.btn-group > .btn-primary.hover,
.btn-group > .btn-primary.active{
	color: #FFF;
    /*background: #6f5e43;*/
    background: #9A92FF;
    border-color: #00b29e: ;
}
.btn-group > .btn-info{
	background: none;
    /*background: #6f5e43;*/
    color:black;
    border: 2px solid #9A92FF;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-group > .btn-default{
	background: none;
    /*background: #6f5e43;*/
    color:black;
    border: 2px solid #9A92FF;
}
.btn-default:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-group > .btn-primary{
	background: none;
    border: 2px solid #9A92FF;
    /*color: #00b29e;*/
    /*color:#26588f;*/
    color:black;
}
.hr > hr{
	background-color: black;
	height: 2px;
}
.lead{
	text-transform: none;
}
.display-1{
	text-transform: capitalize;
	font-family: Arial;
	color: #000;
	/*font-size: 3em;*/
}
.a-main{
	border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
  background-color: #265a88;
  
  border-color: #265a88;
}
.btn-primary{
	background: #2b69ac;
}
.form > .center > .inp{
	display: none;
}

.modal {
	color: white;
}
.white-color  {
	color:white !important;
	
}
.close{
	opacity: 0.8;
}

.modal .modal-body{
    max-height: 100%;
    overflow:auto;
}

.div-include-content{
	width:100%;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
    background: red;
}
/* para los check box */
.btn-group > .estilo,
.btn-group > .no-estilo{
	background: none;
    border: 2px solid #000;
    /*color: #00b29e;*/
    /*color: #26588f;*/
    color : black;
    margin-top: 5px; 
}
.btn-group > .estilo.focus
{
	background:  none;
    border: 2px solid #000;
    /*color: #00b29e;*/
    color:#26588f;
    margin-top: 5px;
}
.btn-group > .estilo.hover{
	background:  none;
    border: 2px solid #000;
    /*color: #00b29e;*/
    color:#26588f;
    margin-top: 5px;
}
.btn-group > .estilo.hover,
.btn-group > .estilo.active{
	background:  #265a88;
    border: 2px solid #000;
    color: #FFF;
    margin-top: 5px; 
}

/* para los check box */
.btn-group > .no-estilo.hover,
.btn-group > .no-estilo.active{
	background:  #265a88;
    border: 2px solid #000;
    color: #FFF;
    margin-top: 5px; 
}
.change{
	background: #2b69ac;
}
.change.hover,
.change.focus,
.change.active{
	background: #26588f;
}
.row > div {
    margin-bottom: 0px;
}
.row{
	border: 2px solid #000;
	display: flex;
	align-items: center;
}
.col-lg-9{
	height:100%;
	flex-grow: 1;
	border-right:2px solid #000;
}
.col-lg-2{
	height:100%;
}

#form-formulario > hr{
	background-color: black;
	height: 2px;
}
#formCombo > hr{
	background-color: black;
	height: 2px;
}
/*DROPDOWN MENU*/
select {
    background: silver;
}
option{
	background-color: none;
    color: #337ab7;
    font-size: 18px;
    border-bottom: double;
    border-bottom-color: black;
    border-bottom-width: thick;

}
option:hover,
option:active {
    background: gray;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
select:-internal-list-box option:checked {
    background-color: gray;
    color: white;
}
ui-selectonemenu-items :hover{
    background-color: #a9c6c9;
}
.ui-selectonemenu-label:hover {
    background-color: #a9c6c9;
}

/*COLORES PARA EL DIALOGO DE ERROR O DESEA ANALIZAR*/
.main-title, .modal-title{
	color: #000;
}

/*
	DIALOG CARGANDO
*/
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  /*border: 16px solid orange; */
  background-color: transparent;
  z-index: 1002;
  overflow: auto;
  text-align: -webkit-center;
  align-content: center;
  align-items: center;
  
}
#close {
    display:block;
	position:absolute;
	top:-0px;
	right:-0px;
	width:27px;
	height:27px;
	background:url('http://cdn-sg1.pgimgs.com/images/pg/close-button.png') no-repeat center center;

}
#close:hover {
    display:block;
	position:absolute;
	top:2px;
	right:2px;
	width:27px;
	height:27px;
	transition-property: height, width, box-shadow, background-color, font-size;
	box-shadow: 2px 2px 10px black, 0 0 0 9999px rgba(128,128,128,.5);
	background:url('http://cdn-sg1.pgimgs.com/images/pg/close-button.png') no-repeat center center;
}
/*
	DIALOG CARGANDO 2
*/
.black_overlay2 {
  display:none;
  
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content2 {
	display:none;
  visibility: hidden;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  /*border: 16px solid orange; */
  background-color: transparent;
  z-index: 1002;
  overflow: auto;
}
.no-scroll{
	scroll:no;
	
	overflow: hidden;
}

#message{
	display:block;
	color: white;
	font-size: xx-large;
	align-content: center;
	text-align: center;
}
/*para el grafico y la descripcion general*/
#graph {
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    align-items: center;/*centra los items, evitando que ocupen todo el ancho de la pantalla*/
    justify-content: center;
}

.r{
	border: none;
	margin:0 5%;
	
}
.rowd{
	display: flex;
	flex-wrap: wrap;
	align-items: top;
}

.preformatted {
    white-space: pre-wrap;
}
.col-md-8.bg-info.hover,
.col-md-8.bg-info.active{
	background:  #265a88;
    border: 2px solid #000;
    color: #FFF;
    margin-top: 5px; 
}
.bg-light{
	background-color: #d9ede5;
	/*background-color: gray;*/
}
.bg-info{
	/*background-color: #C8B8B8;*/
	background-color: #b0c4de;
}
.col-md-4{
	position:relative;
	height: 3em;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  padding:0 5px;
  
  
 /* background-color: #cae8ca;*/
 /* border: 2px solid #4CAF50;*/
  vertical-align: top;
  align-self: top;
}

.expand:hover,
.expand:focus,
.expand:active{
	color:#204d74;
}
.menu-item{
	width:100%;
}
#clip {
 	position: absolute;
    clip: rect(30px, auto, 189px, 0px);
    height: 189px;
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}
.information{
	margin-top:9%;
}
.item-menu.focus{
	color:red;
} 
.ui-selectonelistbox .ui-selectlistbox-item:hover, 
.ui-selectmanymenu .ui-selectlistbox-item:hover, 
.ui-multiselectlistbox .ui-multiselectlistbox-item:hover{
	background-color:gray;
}
.ui-selectonelistbox:active .ui-selectlistbox-item:active, <!-- TRABAJO FUTURO 
					    <li class="active" ><a id="first" data-toggle="tab" href="javascript:void(0);" onclick="hide(); index(); document.getElementById('stepam-0').style.display='block';"  data-target="#ma">Modos de Acceso</a></li>
					    <li><a id="carac" class="tab-a" data-toggle="tab" href="javascript:void(0);" data-target="#ca" onclick="hide(); index(); document.getElementById('stepca-0').style.display='block'; console.log(event);event.preventDefault();" >Caracteristica de Accesibilidad</a></li>
					    <li><a id="control" data-toggle="tab" href="javascript:void(0);" data-target="#coa" onclick="hide(); index();  document.getElementById('stepcoa-0').style.display='block';" >Control de Accesibilidad</a></li>
					    <li><a id="riesgo" data-toggle="tab" href="javascript:void(0);" data-target="#ra" onclick="hide(); index();  console.log('aded'); document.getElementById('stepra-0').style.display='block'; ;" >Riesgo de Accesibilidad</a></li>
						<p:remoteCommand name="cero" actionListener="#{beanFormulario.setActiveIndexZero()}" ></p:remoteCommand>
						-->
.ui-selectmanymenu:active .ui-selectlistbox-item:active, 
.ui-multiselectlistbox:active .ui-multiselectlistbox-item:active,
.ui-selectonelistbox:focus .ui-selectlistbox-item:focus, 
.ui-selectmanymenu:focus .ui-selectlistbox-item:focus, 
.ui-multiselectlistbox:focus .ui-multiselectlistbox-item:focus{
	background-color:gray !important;
}
.ui-state-focus:{
	background-color:gray;
}
.btn-round{
border-radius: 17px;
}
 .glyphicon-wrench:before{content:"\e136"}
 
 /*STEP BY STEP*/
 .stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    
}
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 4px 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 20px;
    color: white;
    background-color: #00b29e;
    
}
a.btn-primary{
	color:white;
	background-color: #2b69ac;
}
a.btn-circle:hover{
	background-color:#26588f; 
	color:white;
}
.setup-content > div{
	left: 0;
    /*position: absolute;*/
}
.left{
	left: 0;
	width:100%;
}
.middle{
	width: 60%;
	padding-left: 0px;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-group > .btn-Si{
	border: 2px solid green;
}
.btn-group > .btn-No{
	border: 2px solid red;
}
.btn-group > .btn-noAplica{
	border: 2px solid #2b69a1;
}
.btn-group > .btn-Si:hover,
.btn-group > .btn-Si.active{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}
.btn-group > .btn-No:hover,
.btn-group > .btn-No.active{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}
.btn-group > .btn-noAplica:hover,
.btn-group > .btn-noAplica.active{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}
.btn-group > .btn-Si:focus,
.btn-group > .btn-No:focus,
.btn-group > .btn-noAplica:focus{
	background:none;
	color:black;
	border: 2px solid black;
    border-color: black;
	
}
.btn-group > .btn-Sis{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}
.btn-group > .btn-Nos{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}
.btn-group > .btn-noAplicas{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}
.menu-item > .ui-selectlistbox-listcontainer{
	height:100% !important; /*important para q no tome el valor por default (200px) sino el que esta aqui*/
}


.ui-selectlistbox-item:focus, .ui-corner-all:focus{
	background-color: red !important;
}

.ui-steps{
	width: 100%;
}
.ui-steps .ui-steps-item {
    /*width: 10%;*/
    margin-top: 40px;
}
 
.ui-state-highlight {
    text-shadow: none !important;
}
 
.ui-steps.custom {
    margin-bottom: 30px;
}
 
.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 2px;
    padding: 0 1em;
    bottom: 18px;
    
}
 
.ui-steps.custom .ui-steps-item .ui-steps-number {
    /*background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;*/
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 20px;
    color: white;
    background-color: #00b29e;
}
 
.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

.ui-steps.custom .ui-steps-item .ui-steps-number:hover,
.ui-steps.custom .ui-steps-item .ui-steps-number:active,
.ui-steps.custom .ui-steps-item .ui-menuitem-link:hover,
.ui-steps.custom .ui-steps-item .ui-menuitem-link:active{
		background-color: #2b69ac;
	
}

/*radios buttons del nuevo form*/
input[type=radio] {
	display: none !important;
}
.radio-inline{
	background: none;
	color: black;	
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}


.btn-Si{
	border: 2px solid green;
}
.btn-No{
	border: 2px solid red;
}
.btn-noAplica{
	border: 2px solid #2b69a1;
}
.btn-Si:hover,
.btn-Si:active{
	
	border: 2px solid green;
	background: #2b69a1 !important;
}
.btn-No:hover,
.btn-No:active{
	border: 2px solid red;
	background: #2b69a1 !important;
	
}
.btn-noAplica:hover,
.btn-noAplica.active{
	border: 2px solid #2b69a1;
	background: #2b69a1 !important;
}
.btn-Si:focus,
.btn-No:focus,
.btn-noAplica:focus{
	background:none;
	color:black;
	border: 2px solid black;
    border-color: black;
	
}
.btn-Sis{
	border: 2px solid green;
	background: green
}
.btn-Nos{
	border: 2px solid red;
	background: red;
}
.btn-noAplicas{
	border: 2px solid #2b69a1;
	background: #2b69a1;
}

.nav-tabs{
	background-color: transparent;
}



/*back to top*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/*Tabs*/

.nav-tabs>li {
        float: left;
    margin-bottom: -1px;
    border-left: 1px solid;
    border-top: 2px solid;
    border-right: 1px solid;
    border-radius: 15px 15px 0px 0px;
    background: lightgray;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #337ab7;
    text-decoration: none;
    
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 15px;
}
.nav>li>a:focus, .nav>li>a:hover {VariablesEstaticas.incrementaF
    text-decoration: none;
    background-color: #eee;
    border-radius: 15px;
}

h5>a {
    color: blue;
    text-decoration: underline;
}

.fila{
	display: flex;
}
.hide{
	
	visibility: hidden;
}
.show{
	visibility: visible;
}


.imagen-step{
	    margin-top: 35px;
    width: 30px;
}

/*Progress var*/
.ui-progressbar {
	width: auto !important;
}

.infor{
	font-size: 1.2em;
	
}
.inforDos{
	font-size: 1.1em;
}
/*Para los enaces en informacion*/
.ref{
	color:#337ab7;
	text-decoration: underline;
}

.img-responsive{
	height: 15em !important;
}

.nav, .navbar-nav, .navbar-right{
	text-transform: capitalize;
}

.see{
	visibility: hidden;
}
.ui-progressbar{
	height: 1.6em !important;
}