<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>RCA: Acerca del Sitio</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
     <script src="resources/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</h:head> 
<body>
    
    
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herramientas <span class="caret"></span> </a>
                    	<ul class="dropdown-menu">
                            <li><a href="formulario_metas.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li ><a href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Información <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li ><a href="informacion_metadatos.jsf"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li ><a href="informacion_discapacidades.jsf"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li ><a href="informacion_wcag2.jsf"><span class="glyphicon glyphicon-list"></span> WCAG 2</a></li>
                        </ul>
                    </li>
                    <li><a href="guia.jsf"><span class="glyphicon glyphicon-book"></span> Guía</a></li>
                    <li><a class="selected" href="acerca_de.jsf"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section id="portfolio" class="container bs-docs-container body">
    	
	    <div id="container">
	    	<div class="gap"></div>
	    	<div class="left gap fade-down section-heading hr"> 
		   		<!--  <span class="home-icon pe-7s-gleam bounce-in"></span>-->
		       <h1 class="display-1"><b>Acerca del Sitio y Desarrolladores</b></h1>
		       
		       <hr style="align-content: left; margin-left: 0px;"/>
		       <p class="infor">Expanda los contenidos para visualizar información</p>
		       <a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('informacion-General').style.display=='none'){document.getElementById('informacion-General').style.display='block';}else{document.getElementById('informacion-General').style.display='none';} expandCollapse('infoG');">
		   		<div class="alert bg-info">
	   				<h3><b>Información General <span id="infoG" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		   		<div id="informacion-General" style="display: none;">
		       <p class="infor">El presente proyecto nace del estudio que se ha realizado en donde se vio la necesidad que tienen las personas con discapacidad 
		       de adquirir la información que presentan los docentes en los ambientes virtuales y objetos de aprendizaje por la falta de cumplimiento de normas 
		       de accesibilidad web que permiten que el contenido proporcionado sea adecuado para su acceso.</p>
		       <p class="infor">Este proyecto propone un sistema web recomendador que pretende brindar el conocimiento asociando 
		       a las normativas de accesibilidad frecuentemente empleadas en la web (WCAG 2) con los metadatos de accesibilidad establecidos por Schema y su 
		       empleo en objetos de aprendizaje. Para ello, mediante un analisis de su obeto de aprendizaje podra conocer que debe mejorar para que sea 
		       completamente accesible el mismo.</p>
		       </div>
		       
		       
		       <a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('recomendador-infor').style.display=='none'){document.getElementById('recomendador-infor').style.display='block';}else{document.getElementById('recomendador-infor').style.display='none';} expandCollapse('recomendador');">
		   		<div class="alert bg-info">
	   				<h3><b>Acerca de los Desarrolladores <span id="recomendador" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		       <div id="recomendador-infor" style="display: none;">
		       <ul class="infor">
		       		<li><b>Marlon Ulloa: </b> mulloaa@est.ups.edu.ec</li>
		       		<li><b>Alejandro Vera: </b> pverar@est.ups.edu.ec</li>
		       		<a href="http://www.ups.edu.ec" style="color: #337ab7; text-decoration: underline;" target="_blank"><i>Universidad Politécnica Salesiana</i></a>
		       </ul>
		       
		       </div>
		       </div>
	   </div>
	    <!-- IR ARRIBA -->
              <a href="javascript:void(0)" id="return-to-top"><i class="icon-chevron-up"></i></a>
	   </section>
		 <!-- IR ARRIBA -->
   		 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
   
    
     <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script type="resources/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script> 
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    
    <!-- Ir arriba script -->
    <script>
 // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
            
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
    </script>
     <!-- EXPANDIR NO EXPANDIR -->
    <script >
		function expandCollapse(id){
			var span=document.getElementById(id);
			if(span.className.includes("plus")){
				span.classList.remove("glyphicon-plus");
				span.classList.add("glyphicon-minus");
			}else{
				span.classList.add("glyphicon-plus");
				span.classList.remove("glyphicon-minus");
			}
		}
    </script>	
</body> 


</html>
