<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"> 

<h:head>
	<title>RCA: Seleccione Perfil(Discapacidades) y Objeto de Aprendizaje a Analizar</title>
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    
     <script src="resources/js/jquery.js"></script>
     
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]--> 
</h:head> 
<body>
    <section id="single-page-slider" class="no-margin background-color">
        <div class="carousel center gap fade-down section-heading">
        	<h2 class="main-title">Seleccione Objeto de Aprendizaje</h2>
            <hr/>
            <p>Seleccione primero el <b>directorio del objeto de Aprendizaje</b> y luego seleccione <b>cargar y analizar</b>. </p>
            <h:form id="formC" class="form" enctype="multipart/form-data">
            <ul class="center">
				<h:outputLabel id="for-in" for="in" class="btn btn-outlined btn-primary" value="#{beanFormulario.directorioSeleccionado}" />
	            <o:inputFile id="in" class="inp" directory="true" value="#{beanFormulario.files}" onchange="javascript:cambia(this);"></o:inputFile>
	            <span class="btn btn-outlined btn-default glyphicon glyphicon-new-window" title="Presione cargar y analizar despues de seleccionar un Objeto de Aprendizaje" aria-hidden="true"></span>
	            <h:commandButton  id="btn-cargar" class="btn btn-outlined btn-success" value="Cargar y Analizar" action="#{beanFormulario.upload()}" disabled="false"><f:ajax execute="@form" render="@none" /></h:commandButton>       
             </ul>
             </h:form>
        </div>
    </section><!--/#main-slider-->
    
    <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script type="resources/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script> 
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    <script>
    //funcion que setea en el label el numero de archivos en el objeto de aprendizaje seleccionado
    function cambia(obj){
        //alert(obj.files.length)
		//alert($(obj).prev('label').text());
		$(obj).prev('label').text(obj.files.length + " Archivos Seleccionados");
		//$('#formC btn-cargar').attr('disabled', 'disabled');
		/*if(obj.files.length>0){
			document.getElementById("formC:btn-cargar").disabled=false;
		}*/
		
		//var btn=$('#formC btn-cargar');
		//btn.disabled=true;
		//alert($("#formC btn-cargar").text())
		//var form=document.getElementsByClassName('form');
		//alert(form.element["btn-cargar"]);
    }
    </script>
</body> 
</html>
