<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"> 

<h:head>
	<title>RCA: Seleccione Perfil(Discapacidades) y Objeto de Aprendizaje a Analizar</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
     <script src="resources/js/jquery.js"></script>
     
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</h:head> 
<h:body >
<h:form>
	<p:remoteCommand action="#{beanFormulario.resetearTodo()}" autoRun="true"></p:remoteCommand>
</h:form>
<!-- Dialogo que se va a cargar al iniciar la pagina -->
<center>
    
	 
<p:dialog  widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" visible="false">
    <p:progressBar style="height:20px;width:400px;"
                           mode="indeterminate"/>
    <h:outputText value="Analizando...... espere por favor...!!" />
</p:dialog>
</center>
<!-- Fin dialogo -->

    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown active">
                    	<a href="#" class="dropdown-toggle selected" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herraminetas <span class="caret"></span> <i class="icon-angle-down"></i></a>
                    	<ul class="dropdown-menu">
                            <li class="selected-item"><a class="selected-item" href="formulario.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li ><a href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                    	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Informacion <span class="caret"></span><i class="icon-angle-down"></i></a>
                    	<ul class="dropdown-menu">
                            <li><a href="project-item.html"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li><a href="blog-item.html"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li><a href="blog-item.html"><span class="glyphicon glyphicon-list"></span> WCAG 2.0</a></li>
                        </ul>
                    </li>
                    <li><a href="portfolio.html"><span class="glyphicon glyphicon-book"></span> Guia</a></li>
                    <li><a href="blog.html"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->
    

     <div id="content-wrapper">
        <section id="portfolio" class="white">
            <div class="container">
                <div class="gap"></div> 
                <div class="center gap fade-down section-heading hr">
                <h2 class="main-title">Seleccione Objeto de Aprendizaje</h2>
            <hr/>
            <p class="lead">Seleccione primero el <b>directorio del objeto de Aprendizaje</b> y luego seleccione <b>cargar y analizar</b>. </p>
            <h:form id="formC" class="form" enctype="multipart/form-data">
            <ul class="center">
				<h:outputLabel tabindex="0" id="for-in" for="in" class="btn btn-primary" onkeypress="onUploadLabelClick(event)" value="#{beanFormulario.directorioSeleccionado}" />
	            <o:inputFile id="in" class="inp" directory="true" value="#{beanFormulario.files}" onchange="javascript:cambia(this);"></o:inputFile>
	            <span class="btn btn-outlined btn-primary glyphicon glyphicon-new-window" title="Presione cargar y analizar despues de seleccionar un Objeto de Aprendizaje" aria-hidden="true"></span>
	            <h:commandButton tabindex="0" id="btn-cargar" class="btn btn-primary" value="Cargar" action="#{beanFormulario.upload()}" disabled="false"><f:ajax execute="@form" render=":formCombo" onevent="mostrarCargando()"/></h:commandButton>       
             </ul>
             
             </h:form>
             <br/>
             <h2 class="main-title">Seleccione archivo del menu</h2>
             <hr/>
            <p class="lead">Seleccione un archivo del <b>menu</b> y luego escoja en <b>analizar en busca de posibles metadatos</b> o <b>seleccionar metadatos de forma automatica</b>. </p>
            
            <h:form id="formCombo">
            	<h:selectOneMenu tabindex="0" class="btn btn-primary menu-item" id="menu" value="#{beanFormulario.selectedMenu}" onchange="javascript:abrirModalAnalizaFile()">
					<f:ajax execute="@this" listener="#{beanFormulario.archivoSeleccionado()}" render="@none"/>
					<f:selectItem class="item-menu" itemLabel="---seleccione---"/>
					<f:selectItems class="item-menu" value="#{beanFormulario.archivosCombo}" ></f:selectItems>
											
				</h:selectOneMenu>
				<h2 class="main-title">Analisis de posibles metadatos de forma automatica</h2>
				<hr/>
				<p class="lead">Analiza de manera automatica el contenido del archivo html seleccionado, asi como tambien los enlaces que contiene el mismo.</p>
				<h:commandButton class="btn btn-primary" value="Analizar Archivo Seleccionado" action="#{beanFormulario.analizaYSeteaChecks()}" >
					<f:ajax execute="@form" render="form-formulario" onevent="mostrarCargando()"/>
				</h:commandButton>
            </h:form>
            <br/>
            <h2 class="main-title">Modos de Acceso</h2>
             <hr/>
             <p class="lead">Describe la forma en la que una persona puede procesar o percibir la informacion.</p>
            <h:form id="form-formulario">
            <ul class="center list-unstyled">
            	<div id="accessMode" class="btn-group" data-toggle="buttons">
          			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[0] ? 'btn btn-primary no-estilo active' : 'btn btn-primary estilo'}">
		    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[0]}" /> Auditiva
		  			</h:outputLabel>
          				<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[1] ? 'btn btn-primary estilo active' : 'btn btn-primary estilo'}">
		    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[1]}" /> Tactil
		  			</h:outputLabel>
          			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[2] ? 'btn btn-primary no-estilo active' : 'btn btn-primary estilo'}">
		    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[2]}" /> Textual
		  			</h:outputLabel>
          			<h:outputLabel class="btn btn-primary " styleClass=" #{beanFormulario.checks[3] ? 'btn btn-primary no-estilo active' : 'btn btn-primary estilo'}">
		    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[3]}" /> Visual
		  			</h:outputLabel>
		  			
		  			<br/>
            	
            	</div>
            	
            	<!-- <h:commandButton action="#{beanFormulario.setea()}" value="Setea" ><f:ajax render=":form-formulario"></f:ajax></h:commandButton> -->
            	<br/>
            	<br/>
            	<ul class="center">
            		<div class="row">
            			<div class="col-lg-9"><h3 >Existen actividades que requieran la distinción de colores y contrastes?</h3></div>
            			<div class="col-lg-2">
            			<div class="btn-group btn-group" data-toggle="buttons">
            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[4] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
			    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[4]}" />
			    			<span class="glyphicon glyphicon-ok"></span>
			  				</h:outputLabel>
			  			</div>
            		</div>
			  	</div>
			  	</ul>
			 
			  	<ul class="center">
            		<div class="row">
            			<div class="col-lg-9"><h3 >Hay texto en la imagen, que puede no ser legible a escalas mayores debido a la pixelación, o por el software de texto a voz?</h3></div>
            			<div class="col-lg-2 align">
            			<div class="btn-group btn-group" data-toggle="buttons">
            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[5] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
			    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[5]}" />
			    			<span class="glyphicon glyphicon-ok"></span>
			  				</h:outputLabel>
			  			</div>
            		</div>
			  	</div>
			  	</ul>
             </ul>
             
             	
             <hr/>
             <br/>
             <h2 class="main-title">Caracteristica de Accesibilidad</h2>
             <hr/>
             <p class="lead">Describe las características del contenido del recurso, tales como medios accesibles, alternativas y mejoras admitidas para la accesibilidad.</p>
             
				<ul class="center list-unstyled">   
					<ui:repeat var="variable" value="#{beanFormulario.listadoAF}" varStatus="status">
             			<ul class="center">
	            		<div class="row">
	            			<div class="col-lg-9"><h3 >${variable}</h3></div>
	            			<div class="col-lg-2 align">
	            			<div class="btn-group btn-group" data-toggle="buttons">
	            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[status.index+6] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
				    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[status.index+6]}" />
				    			<span class="glyphicon glyphicon-ok"></span>
				  				</h:outputLabel>
				  			</div>
	            		</div>
				  	</div>
				  	</ul>
             		
             		</ui:repeat>       
             	</ul>
             	<hr/>
	             <br/>
	             <h2 class="main-title">Control de Accesibilidad</h2>
	             <hr/>
	             <p class="lead">Describe los métodos de entrada que son suficientes para controlar completamente el recurso descrito, tales como teclado y raton.</p>
             
             	<ul class="center list-unstyled">
             		 <ul class="center">
	            		<div class="row">
	            			<div class="col-lg-9"><h3 >El usuario puede acceder y controlar el contenido de forma efectiva solo con el teclado?</h3></div>
	            			<div class="col-lg-2 align">
	            			<div class="btn-group btn-group" data-toggle="buttons">
	            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[20] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
				    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[20]}" />
				    			<span class="glyphicon glyphicon-ok"></span>
				  				</h:outputLabel>
				  			</div>
	            		</div>
				  	</div>
				  	</ul>
				  	<ul class="center">
	            		<div class="row">
	            			<div class="col-lg-9"><h3 >El usuario puede acceder y controlar contenido de manera efectiva solo con el mouse?</h3></div>
	            			<div class="col-lg-2 align">
	            			<div class="btn-group btn-group" data-toggle="buttons">
	            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[21] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
				    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[21]}" />
				    			<span class="glyphicon glyphicon-ok"></span>
				  				</h:outputLabel>
				  			</div>
	            		</div>
				  	</div>
				  	</ul>
             	</ul>
             	<hr/>
	             <br/>
	             <h2 class="main-title">Riesgo de Accesibilidad</h2>
	             <hr/>
	             <p class="lead">Describe las características del recurso que pueden ser fisiológicamente peligrosas para algunos usuarios.</p>
            	<ul class="center list-unstyled">
            		<ul class="center">
	            		<div class="row">
	            			<div class="col-lg-9"><h3 >El contenido de animaciones que estan en constante movimiento?</h3></div>
	            			<div class="col-lg-2 align">
	            			<div class="btn-group btn-group" data-toggle="buttons">
	            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[22] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
				    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[22]}" />
				    			<span class="glyphicon glyphicon-ok"></span>
				  				</h:outputLabel>
				  			</div>
	            		</div>
				  	</div>
				  	</ul>
				  	<ul class="center">
	            		<div class="row">
	            			<div class="col-lg-9"><h3 >El contenido dispone de simulaciones con movimiento?</h3></div>
	            			<div class="col-lg-2 align">
	            			<div class="btn-group btn-group" data-toggle="buttons">
	            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[23] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
				    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[23]}" />
				    			<span class="glyphicon glyphicon-ok"></span>
				  				</h:outputLabel>
				  			</div>
	            		</div>
				  	</div>
				  	</ul>
				  	<ul class="center">
	            		<div class="row">
	            			<div class="col-lg-9"><h3 >El contenido dispone de sonidos de fondos y/o ambientación sonora general?</h3></div>
	            			<div class="col-lg-2 align">
	            			<div class="btn-group btn-group" data-toggle="buttons">
	            			<h:outputLabel class="btn btn-primary" styleClass=" #{beanFormulario.checks[24] ? 'btn btn-primary btn-sm no-estilo active' : 'btn btn-sm btn-primary estilo'}">
				    			<h:selectBooleanCheckbox value="#{beanFormulario.checks[24]}" />
				    			<span class="glyphicon glyphicon-ok"></span>
				  				</h:outputLabel>
				  			</div>
	            		</div>
				  	</div>
				  	</ul>
				  	</ul>
				  	<br></br>
				  	<p class="lead">Para escribir los metadatos en el archivo seleccionado, presione en <b>ESCRIBIR METADATOS</b> para que se escriban los metadatos en el archivo seleccionado. una vez que haya finalizado de escribir los metadatos en
				  	todos los archivos que seleccione, puede proceder a descargar el <b>Objeto de Aprendizaje en el que incluira los archivos modificados</b>.</p>
				  	<ul class="center">
				  		<h:commandButton class="btn btn-primary" action="#{beanFormulario.escribirMetadatos()}" value="Escribir Metadatos" ><f:ajax execute="@form" render=":formCombo :form-formulario">
				  			
				  		</f:ajax></h:commandButton>
				  		<h:commandButton class="btn btn-primary" action="#{beanFormulario.download()}" value="Descargar" />
				  	</ul>
             	<!-- <h:commandButton action="#{beanFormulario.imprimir()}" value="Imoprime" ><f:ajax execute="@form" render="none"></f:ajax></h:commandButton> -->
             </h:form>
             
             	
             
			<!-- Div en el cual se va a agregar la pagina donde se va a seleccionar el oa para buscar metas e forma automatica -->
           <!--  <div id="agrega" ></div> -->
		</div>
		</div>
		</section>
		</div>
    <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script type="resources/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script> 
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    

<!-- Modal Desea Analizar Contenido en Busca de Posibles Metadatos Automaticamente?-->
<div class="modal fade" id="modalDeseaAnalizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalDeseaAnalizarTitle">Nosotros le sugerimos</h3>
        <button type="button" class="close" title="Cerrar" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="main-title" >Desea Analizar Contenido en Busca de Posibles Metadatos Automaticamente?</h2>
       <!-- <div id="include" w3-include-html="analiza_contenido_metas_automatico.xhtml" class="div-include-content background-color" style="display:none"></div>
         <label id="ejecutado">#{beanFormulario.ejecutado}</label> -->
      </div>
      <div class="modal-footer">
        
        <!-- <button id="button-si" type="button" class="btn btn-primary " onclick="abrirModalAnalizaOA()">Si</button> -->
        <h:form>
        	<button id="button-no" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        	<h:commandButton id="button-si" class="btn btn-primary" action="#{beanFormulario.analizaYSeteaChecks()}" value="Si" >
        		<f:ajax execute="@form" render="form-formulario" onevent="mostrarCargando()"/>
        	</h:commandButton>
        </h:form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Error al Escribir-->
<div class="modal fade" id="modalErrors" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h3 class="modal-title message-title" id="modalDeseaAnalizarTitle">Error Al Intentar Escribir Metadato!!</h3>
        <button type="button" class="close" title="Cerrar" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="main-title parrafo" >Debe seleccionar un archivo del menu desplegable despues de cargar el Objeto de Aprendizaje!!</h2>
       <!-- <div id="include" w3-include-html="analiza_contenido_metas_automatico.xhtml" class="div-include-content background-color" style="display:none"></div>
         <label id="ejecutado">#{beanFormulario.ejecutado}</label> -->
      </div>
      <div class="modal-footer">
        <button id="button-no" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        <!-- <button id="button-si" type="button" class="btn btn-success " onclick="abrirModalAnalizaOA()">Si</button> -->
      </div>
    </div>
  </div>
</div>	
<!-- Script para cuando recien termina de cargrse la pagina -->
<script type="text/javascript">
    $(document).ready(function(){
       /* var v=$("#ejecutado").text();//sirve para saber si ya se ejecuto el cargar oa, si o no
        //alert(v)
        if(v=="no"){
        	$("#modalDeseaAnalizar").modal('show');
        }

        //agrego el div del modal en la pagina principal
        $("#agrega").append($("#include").clone().attr("id","include-main"));
        
        document.getElementById('include-main').style.display="block";//muestro el div con la pagina de cargar
        */
       // alert($("#formC:btn-cargar").prop("value"));
    });
    //$("#agrega").ready(function(){
	//		$("#formC:btn-cargar").attr("value","Cargar");
	//		document.getElementById("formC:btn-cargar").value="Cargar"
    //    });
</script>

<!-- Libreria para incluir archivos html -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
w3.includeHTML();
//document.getElementById("btn-cargar").value="Cargar";
$('#modal').on('show', function () {
    $(this).find('.modal-body').css({
           width:'auto', //probably not needed
           height:'auto', //probably not needed 
           'max-height':'100%'
    });
});
/**
 * Funcion en la que muestra el dialog donde el usuario podra escoger si seleccionar analizar el documento de forma automatica o no
 */
function abrirModalAnalizaFile(){
	$("#modalDeseaAnalizar").modal('show');
}
/**
 * Funcion que muestra el dialog de error cuando se produzca una excepcion o el usuario presione un boton sin antes hacer la tarea requerida
 * Esta funcion se la llama desde el bean.
 *@param messageTitle Es el titulo del mensaje a mostrar
 *@param messageBody Es el cuerpo del mensaje que se va a mostrar
 */
function showModalErrors(messageTitle, messageBody){
	$(".message-title").html(messageTitle);
	$(".parrafo").html(messageBody);
	$("#modalErrors").modal('show');
	
}
function abrirModalAnalizaOA(){
	/*//$("#modalDeseaAnalizar").modal('hide');
	//$("#modalAnalizar").modal('show');
	document.getElementById('include').style.display="block";
	$("#button-si").css('display', 'none');
	$("#button-no").text("Cerrar");
	*/
}

///EVENTO DEL TECLADO EN EL LABEL "SELECCIONA DIRECTORIO" (ACCESIBILIDAD)
//$().keypress(function(event));
function onUploadLabelClick(evt) {
	//alert("Evento");
	var keyCode = evt.which || evt.keyCode;
	//alert(keyCode);
	if (keyCode === 13 || keyCode === 32) {
    	$(evt.target).click();
    	evt.preventDefault();
	}
}
function mostrarCargando(){
	$("#modalDeseaAnalizar").modal('hide');
    //agrego la clas eno scrolling al body
    //$('document.body').addClass("no-scroll");
    var heighttt=document.documentElement.scrollHeight;
    //console.log("height: "+heighttt+"px");
    document.getElementById('fade').style.height=heighttt+"px";
    //var heightt=document.getElementById('fade').style.height;
    //console.log("height: "+heightt);
    //document.getElementById("message").value("Subiendo");
    topFunction();
    hideNavBar();
	document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block';
}

function cerrarCargando(){
	showNavBar();
	document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
function hideNavBar(){
	$(".nav").hide();//oculta el menu
	$(".navbar-brand").hide();//oculta el icono de la barra de menu
}
function showNavBar(){
	$(".nav").show();//muestra el menu
	$(".navbar-brand").show();//muestra el icono de la barra de menu
}
</script>
<!-- DIALOGO CARGANDO -->
    <div id="light" class="white_content">
    	
	   <h:outputLabel id="message" value="#{beanFormulario.mensaje}" />
  					<!-- <h1 align="center"><a href="javascript:void(0)" onclick="cerrarCargando()">Cerrar</a></h1> -->
  	</div>
  				<div id="fade" class="black_overlay"></div>
</h:body> 
</html>
