<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:u="http://java.sun.com/jsf/passthrough"> 

<h:head>
	<title>RCA: Seleccione Perfil(Discapacidades) y Objeto de Aprendizaje a Analizar</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
     <script src="resources/js/jquery.js"></script>
   
	

    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</h:head> 
<body style="overflow:hidden;">
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown active">
                    	<a href="#" class="dropdown-toggle selected" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herramientas <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li class="selected-item"><a class="selected-item" href="formulario_metas.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li ><a href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                    	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Información <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li><a href="informacion_metadatos.jsf"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li><a href="informacion_discapacidaes.jsf"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li><a href="informacion_wcag2.jsf"><span class="glyphicon glyphicon-list"></span> WCAG 2</a></li>
                        </ul>
                    </li>
                    <li><a href="guia.jsf"><span class="glyphicon glyphicon-book"></span> Guía</a></li>
                    <li><a href="acerca_de.jsf"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->
    
    <div id="content-wrapper">
        <section id="portfolio" class="white">
            <div class="container" id="container">
                <div class="gap"></div> 
                <div class="center gap fade-down section-heading hr">
                <h2 class="main-title">Seleccione Objeto de Aprendizaje</h2>
            <hr/>
            <p class="lead">Seleccione <b>Seleccionar Directorio y Cargar</b>, luego escoja el directorio del objeto de aprendizaje. </p>
            <h:form id="formC" class="form" enctype="multipart/form-data">
            <ul class="center">
				<h:outputLabel tabindex="0" id="for-in" for="in" class="btn btn-primary" onkeypress="onUploadLabelClick(event)" value="#{beanFormulario.directorioSeleccionado}" />
	            <o:inputFile id="in" class="inp" directory="true" value="#{beanFormulario.files}" onchange="javascript:cambia(this); jsStartTask();"><f:ajax event="change" listener="#{beanFormulario.upload()}" render=":form-list" onevent="mostrarCargando()"></f:ajax></o:inputFile>
	            <!-- <span class="btn btn-outlined btn-primary glyphicon glyphicon-new-window" title="Presione cargar y analizar despues de seleccionar un Objeto de Aprendizaje" aria-hidden="true"></span> -->
	                  
             </ul>
             
             </h:form>
             <br/>
             
             
             </div>
             </div>
             <div id="contents" class="rowd r" style="visibility: hidden;">
             
             	<div class="col-md-3">
             	<div class="sticky" style="height:50%;">
             	<h3>Documentos html encontrados</h3>
             	<ul>Seleccione los documentos a revisar.</ul>
             	<h:form id="form-list" style="height:100%;">
             	<h:selectOneListbox  styleClass="selectOneMenu" style="height:100%; overflow-x: scroll; overflow-y: hidden;" aria-hidden="true"   class="menu-item" id="menu" value="#{beanFormulario.selectedMenu}" widgetVar="menuUI" onchange="block(); document.getElementById('wizard:escribir').disabled=false;">
             		<f:ajax execute="@this" listener="#{beanFormulario.archivoSeleccionado()}" render=":wizard :light2 :fade2" event="change" onevent=" function(data) { if (data.status === 'success') { hideComplement(1); }  actualiza();   }"/>
             		
             		<f:selectItems aria-hidden="true" class="item-menu" value="#{beanFormulario.archivosCombo}" ></f:selectItems>
             	</h:selectOneListbox>
             	</h:form>
             	</div>
             	</div>
             	
             	<div class="col-md-9 ">
             	<h:form id="prime">
             	</h:form>
             	<h:form id="wizard">
             		<div class="rowd r">
             		<div class="col-md-2" heigth="25%">
             		<a href="#{beanFormulario.rutaImagenPhanthom}" target="_blank">
             			<img id="clip" src="#{beanFormulario.rutaImagenPhanthom}" width="100%" height="50%" alt="Es una imagen"></img>
             		</a>
             		</div>
             		<div class="col-md-8">
             		<ul class="information">
             		<h3>#{beanFormulario.label}</h3>
             		<h4>Puede visualizar el archivo html en el enlace que se presenta a continuacion:</h4>
             		<h5><a href="#{beanFormulario.urlArchivo}" target="_blank">#{beanFormulario.urlArchivo.substring(beanFormulario.urlArchivo.lastIndexOf('/')+1)}</a></h5>
             		</ul>
             		</div>
             		</div>
             	
             	<!-- <div class="container"> -->
             		<br />
             		<h2>Seleccione los metadatos</h2>
             		<p class="infor">Si usted observa "<span class="glyphicon glyphicon-ok"> <b>Cumple con esta pregunta</b></span>", se recomienda seleccionar <b>Si</b>, pues significa que que el sistema ha detectado de forma automatica que el contenido si posee el valor de metadato.</p>
             		<hr ></hr>
             		<div class="sticky-No">
             		<ul class="nav nav-tabs">
             			<li class="active" ><a id="first" data-toggle="tab" href="javascript:void(0);"  data-target="#ma"><h4>Modos de Acceso</h4></a></li>
					    <li><a id="carac" class="tab-a" data-toggle="tab" href="javascript:void(0);" data-target="#ca"  ><h4>Caracteristica de Accesibilidad</h4></a></li>
					    <li><a id="control" data-toggle="tab" href="javascript:void(0);" data-target="#coa" ><h4>Control de Accesibilidad</h4></a></li>
					    <li><a id="riesgo" data-toggle="tab" href="javascript:void(0);" data-target="#ra" ><h4>Riesgo de Accesibilidad</h4></a></li>    
					</ul>
					</div>
					  <div id="contenido" class="tab-content">
					    <div id="ma" class="tab-pane fade in active">
					    	<h3>Modos de Acceso</h3>
					    	<p class='infor'>Describe la forma en la que una persona puede procesar o percibir la información.</p>
					    	<ui:repeat var="preguntasAM" value="#{beanFormulario.listadoAM}" varStatus="ind">
					      			<div class="row r setup-content" id="stepam-#{ind.index}" >
								      
								        
								          <ul class="left row">
								          <ul class="middle">
								          
								      
								          <h3>#{preguntasAM}</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[ind.index] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          <br></br>
								          </ul>
								          <ul class="right">
								         <h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(ind.index)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								          </ul>
								        
								      
								    </div>
								    </ui:repeat>
			                
					    </div> 
					    <div id="ca" class="tab-pane fade">
					      <h3>Caracteristica de Accesibilidad</h3>
					      <p class='infor'>Describe las características del contenido del recurso, tales como medios accesibles, alternativas y mejoras admitidas para la accesibilidad.</p>
					     	<ui:repeat var="pregunta" value="#{beanFormulario.listadoAF}" varStatus="index">
								    <div class="row r setup-content" id="stepca-#{index.index}">
								      
								          <ul class="left row">
								          <ul class="middle">
								          
								          <h3>#{pregunta}</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[index.index+6] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          <br></br>
								          </ul>
								         	 <ul class="right">
								         <h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(index.index+6)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								            </ul>
								          </div>
								          
								          </ui:repeat>
							
			            
					       
								  
					    </div>
					    <div id="coa" class="tab-pane fade">
					      <h3>Control de Accesibilidad</h3>
					      <p class='infor'>Describe los métodos de entrada que son suficientes para controlar completamente el recurso descrito, tales como teclado y raton.</p>
					      								  
								  <div class="row r setup-content" id="stepcoa-0">
								      
								          <ul class="left row">
								          <ul class="middle">
								          
								          <h3>El usuario puede acceder y controlar el contenido de forma efectiva solo con el teclado?</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[20] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          <br></br>
								          </ul>
								          <ul class="right">
								         <h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(20)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								          </ul>
								          
								        
								    </div>
								    
								    <div class="row r setup-content" id="stepcoa-1">
								      
								          <ul class="left row">
								          <ul class="middle">
								          
								          <h3>El usuario puede acceder y controlar contenido de manera efectiva solo con el mouse?</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[21] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          <br></br>
								          </ul>
								          <ul class="right">
								           
								         <h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(21)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								        
								         </ul>
								          
								        
								    </div>
								    
					    </div>
					    <div id="ra" class="tab-pane fade">
					      <h3>Riesgo de Accesibilidad</h3>
					      <p class='infor'>Describe las características del recurso que pueden ser fisiológicamente peligrosas para algunos usuarios.</p>
					      	  
								  <div class="row r setup-content" id="stepra-0">
								          <ul class="left row">
								          <ul class="middle">
								          
								          <h3>El contenido posee animaciones que estan en constante movimiento?</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[22] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          <br></br>
								           </ul>
								          <ul class="right">
								           <h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(22)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								        </ul>
								          
								       
								    </div>
								    
								    <div class="row r setup-content" id="stepra-1">
								      
								          <ul class="left row">
								          <ul class="middle">
								          
								          <h3>El contenido dispone de simulaciones con movimiento?</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[23] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          <br></br>
								          </ul>
								          <ul class="right">
								          	<h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(23)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								        </ul>
								          
								       
								    </div>
								    <div class="row r setup-content" id="stepra-2">
								     
								          <ul class="left row">
								          <ul class="middle">
								          
								          <h3>El contenido dispone de sonidos de fondos y/o ambientación sonora general?</h3>
								          <span class="glyphicon glyphicon-ok" style="display: #{beanFormulario.checks[24] ? 'block' : 'none'}"> <b>Cumple con esta pregunta.</b></span>
								          
								           </ul>
								          <ul class="right">
								          	<h:selectOneRadio value="#{beanFormulario.seleccionado}" disabledClass ="radio-inline" enabledClass ="radio-inline" >
								        	<f:selectItem   itemValue="No Aplica" itemLabel="No Aplica"/>
								        	<f:selectItem   itemValue="No" itemLabel="No"/>
								        	<f:selectItem   itemValue="Si" itemLabel="Si" />
								        	<f:ajax listener="#{beanFormulario.seteaFalse(24)}"></f:ajax>
								        </h:selectOneRadio>  </ul>
								         </ul>
								          
								       
								    </div>
					    </div>
					  </div>
					 
					 <!--<h:commandButton action="#{beanFormulario.imprimir()}" value="imprimer metas" />-->
					 <ul class="fila">
					 	
					 		<h:commandButton id="escribir" class="btn btn-primary left" action="#{beanFormulario.escribirMetadatos()}" value="Escribir y Descargar"></h:commandButton>	
					 	
					 	
					 		<button id="nuevoOA" class="btn btn-primary right" onclck="window.location.reload(true);">Seleccionar nuevo OA</button>
					 	
					 </ul>
					 
					 
					  </h:form>
             	<!--</div>-->
             	</div>
             	
             </div>
             <!-- IR ARRIBA -->
              <a href="javascript:void(0)" id="return-to-top"><i class="icon-chevron-up"></i></a>
       </section>
   </div>
   
   
   <!-- MODAL PARA ERRORES -->
   <div class="modal fade" id="modalErrors" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h3 class="modal-title message-title" id="modalDeseaAnalizarTitle">Error Al Intentar Escribir Metadato!!</h3>
        <button type="button" class="close" title="Cerrar" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="main-title parrafo" >Debe seleccionar un archivo del menu desplegable despues de cargar el Objeto de Aprendizaje!!</h2>
       <!-- <div id="include" w3-include-html="analiza_contenido_metas_automatico.xhtml" class="div-include-content background-color" style="display:none"></div>
         <label id="ejecutado">#{beanFormulario.ejecutado}</label> -->
      </div>
      <div class="modal-footer">
        <button id="button-no" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        <!-- <button id="button-si" type="button" class="btn btn-success " onclick="abrirModalAnalizaOA()">Si</button> -->
      </div>
    </div>
  </div>
</div>
    <!-- IR ARRIBA -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
   
     <!-- Scripts a cargar -->
      
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script type="resources/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script> 
  <!--  <script src="resources/js/init.js"></script>  -->
    <script type="text/javascript" src="resources/js/menuItemSelected.js"></script>
    <script>
    function showContents(){
        console.log('entraaaaaap: '+document.getElementById('contents'));
        //document.getElementById('contents').classList.add('show');
        document.getElementById('contents').style.visibility="visible";
        document.body.style.overflow="visible";
    	//document.getElementById('container').style.display="none";
    	document.getElementById('container').classList.add('hide');
    }
    function selectItem(){
    	PF('menuUI').select(4);
        console.log(PF('menuUI'));
        console.log(PF('menuUI').options);
        console.log(PF('menuUI').items);
        }
    function hideComplement(id){
        console.log("funcion");
        $.unblockUI();
        var ids="";
        if(id==1)
            ids="first";
        if(id==2)
            ids="carac";
        if(id==3)
            ids="control";
        if(id==4)
            ids="riesgo";
    	//$('#carac').trigger('click');
    	document.getElementById(ids).click();
    	console.log(document.getElementById("Estos son los ideeeeeeeeeeeeeeeeeeeeeeeeeessssssss: "+ids));
    }//console.log("funcionsale");
    function saltar(type,id){
       // selectItem();
        console.log("entraaa");
		var ids="";
		if(type==0)
			ids="stepam-"+(id);
		if(type==1)
			ids="stepca-"+(id);
		if(type==2)
			ids="stepcoa-"+(id);
		if(type==3)
			ids="stepra-"+(id);
		console.log(type+"   "+ids);
		hide();
		document.getElementById(ids).style.display="block";
        }
    function anterior(type,id){
        console.log("entraaa");
		var ids="";
		if(type==0)
			ids="stepam-"+(id);
		if(type==1)
			ids="stepca-"+(id);
		if(type==2)
			ids="stepcoa-"+(id);
		if(type==3)
			ids="stepra-"+(id);
		console.log(type+"   "+ids);
		hide();
		document.getElementById(ids).style.display="block";
        }

    function index(){
			cero();
        }
    </script>
    <script>
//w3.includeHTML();
//document.getElementById("btn-cargar").value="Cargar";
$('#modal').on('show', function () {
    $(this).find('.modal-body').css({
           width:'auto', //probably not needed
           height:'auto', //probably not needed 
           'max-height':'100%'
    });
});
/**
 * Funcion en la que muestra el dialog donde el usuario podra escoger si seleccionar analizar el documento de forma automatica o no
 */
function abrirModalAnalizaFile(){
	$("#modalDeseaAnalizar").modal('show');
}
/**
 * Funcion que muestra el dialog de error cuando se produzca una excepcion o el usuario presione un boton sin antes hacer la tarea requerida
 * Esta funcion se la llama desde el bean.
 *@param messageTitle Es el titulo del mensaje a mostrar
 *@param messageBody Es el cuerpo del mensaje que se va a mostrar
 */
function showModalErrors(messageTitle, messageBody){
	$(".message-title").html(messageTitle);
	$(".parrafo").html(messageBody);
	$("#modalErrors").modal('show');
	console.log('Entraaaaaaa');
}
function abrirModalAnalizaOA(){
	/*//$("#modalDeseaAnalizar").modal('hide');
	//$("#modalAnalizar").modal('show');
	document.getElementById('include').style.display="block";
	$("#button-si").css('display', 'none');
	$("#button-no").text("Cerrar");
	*/
}

///EVENTO DEL TECLADO EN EL LABEL "SELECCIONA DIRECTORIO" (ACCESIBILIDAD)
//$().keypress(function(event));
function onUploadLabelClick(evt) {
	//alert("Evento");
	var keyCode = evt.which || evt.keyCode;
	//alert(keyCode);
	if (keyCode === 13 || keyCode === 32) {
    	$(evt.target).click();
    	evt.preventDefault();
	}
}
function mostrarCargando(){
	
	//$("#modalDeseaAnalizar").modal('hide');
	//alert("height: px");    //agrego la clas eno scrolling al body
    //$('document.body').addClass("no-scroll");
    var heighttt=document.documentElement.scrollHeight;
    
    //console.log("height: "+heighttt+"px");
    document.getElementById('fade').style.height=heighttt+"px";
    //var heightt=document.getElementById('fade').style.height;
    //console.log("height: "+heightt);
    //document.getElementById("message").value("Subiendo");
    topFunction();
    hideNavBar();
	document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block';
	
}

function cerrarCargando(){
	showNavBar();
	document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';
	showContents();
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
function hideNavBar(){
	$(".nav").hide();//oculta el menu
	$(".navbar-brand").hide();//oculta el icono de la barra de menu
}
function showNavBar(){
	$(".nav").show();//muestra el menu
	$(".navbar-brand").show();//muestra el icono de la barra de menu
}


////DIALOGO 2

function mostrarCargando2(){
	//document.getElementsByClassName('col-md-9')[0].style.visibility='visible';
	//alert(document.getElementsByClassName('col-md-9').length);
	//$("#modalDeseaAnalizar").modal('hide');
	//alert("height: px");    //agrego la clas eno scrolling al body
    //$('document.body').addClass("no-scroll");
    var heighttt=document.documentElement.scrollHeight;
    
    //console.log("height: "+heighttt+"px");
    document.getElementById('fade2').style.height=heighttt+"px";
    //var heightt=document.getElementById('fade').style.height;
    //console.log("height: "+heightt);
    //document.getElementById("message").value("Subiendo");
    topFunction();
    hideNavBar();
    document.getElementById('light2').style.visibility='visible';document.getElementById('fade2').style.visibility='visible';
	document.getElementById('light2').style.display='block';document.getElementById('fade2').style.display='block';
	
}

function cerrarCargando2(){
	//document.getElementsByClassName('col-md-9')[0].style.visibility='hidden';
	console.log("entraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");	
	
	document.getElementById('light2').style.visibility='hidden';document.getElementById('fade2').style.visibility='hidden';
	document.getElementById('light2').style.display='none';document.getElementById('fade2').style.display='none';
	showContents();
	showNavBar();
	console.log("saleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"+document.getElementById('light2').style.visibility);
	
}
</script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"/>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'/>
    <script>
		$(document).ready(function(){
			 setTimeout(function() {
				 var elements=document.getElementsByClassName("radio-inline");
				 //elements[0].setAttribute("tabindex","0");
				 var tam=elements.length;
				// alert(tam);
				 var count=-1;
				 while(tam--){
					//console.log(tam);
					//console.log(elements[tam])
					count++;
					elements[tam].setAttribute("tabindex","0");
					elements[tam].classList.add("btn");
					if(count==0){
						elements[tam].classList.add("btn-info");
						elements[tam].classList.add("btn-Si");
					}
					if(count==1){
						elements[tam].classList.add("btn-info");
						elements[tam].classList.add("btn-No");
						//count=-1;
					}
					if(count==2){
						elements[tam].classList.add("btn-info");
						elements[tam].classList.add("btn-noAplica");
						elements[tam].classList.add("active");
						elements[tam].style.background="#2b69a1 !important";
						count=-1;
					}
					//elements[tam].classList.add("btn-info");
					//elements[tam].classList.add("btn-noAplica");
					var index=tam;
					elements[tam].este=tam;
					 elements[tam].addEventListener("keypress", function (e){
						 
							onUploadLabelClick(e);
							console.log(e.target);
							e.target.classList.add("active");
							
							var val=e.target.este;
							var resp=val%3;
							//alert(resp);
							var elements=document.getElementsByClassName("radio-inline");
							if(resp==0){
									e.target.style.background="#2b69a1 !important";
									elements[(val+1)].classList.remove("active");
									elements[(val+1)].style.background="none";
									elements[(val+2)].classList.remove("active");
									elements[(val+2)].style.background="none";			
							}
							if(resp==1){
								e.target.style.background="#2b69a1";
								elements[(val-1)].classList.remove("active");
								elements[(val-1)].style.background="none";
								elements[(val+1)].classList.remove("active");
								elements[(val+1)].style.background="none";			
							}
							if(resp==2){
								e.target.style.background="#2b69a1";
								elements[(val-1)].classList.remove("active");
								elements[(val-1)].style.background="none";
								elements[(val-2)].classList.remove("active");
								elements[(val-2)].style.background="none";			
							}
							});
					 elements[tam].addEventListener("click", function (e){
						 
							//onUploadLabelClick(e);
							//console.log(e.target);
							e.target.classList.add("active");
							
							var val=e.target.este;
							var resp=val%3;
							//alert(resp);
							var elements=document.getElementsByClassName("radio-inline");
							if(resp==0){
									e.target.style.background="#2b69a1 !important";
									elements[(val+1)].classList.remove("active");
									elements[(val+1)].style.background="none";
									elements[(val+2)].classList.remove("active");
									elements[(val+2)].style.background="none";			
							}
							if(resp==1){
								e.target.style.background="#2b69a1";
								elements[(val-1)].classList.remove("active");
								elements[(val-1)].style.background="none";
								elements[(val+1)].classList.remove("active");
								elements[(val+1)].style.background="none";			
							}
							if(resp==2){
								e.target.style.background="#2b69a1";
								elements[(val-1)].classList.remove("active");
								elements[(val-1)].style.background="none";
								elements[(val-2)].classList.remove("active");
								elements[(val-2)].style.background="none";			
							}
							});
						
				}
				// elements[0].onkeypress = onUploadLabelClick(elements[0].onkeypress);
				/*elements[0].addEventListener("keypress", function (e){
					onUploadLabelClick(e);
					});*/
				 var element=document.getElementById('first');
					element.click();
					//alert('entrsss'+element);
					
			    },10);
			
			});
    </script>
    <script>
    var bandera=false;
    function actualiza(){
    	var elements=document.getElementsByClassName("radio-inline");
		 //elements[0].setAttribute("tabindex","0");
		 var tam=elements.length;
		// alert(tam);
		console.log("banderaaaaaaaaaaaaaaaaaaaaaaaaa: "+bandera);
		 var count=-1;
		 while(tam--){
			//console.log(tam);
			//console.log(elements[tam])
			count++;
			elements[tam].setAttribute("tabindex","0");
			elements[tam].classList.add("btn");
			if(count==0){
				elements[tam].classList.add("btn-info");
				elements[tam].classList.add("btn-Si");
			}
			if(count==1){
				elements[tam].classList.add("btn-info");
				elements[tam].classList.add("btn-No");
				//count=-1;
			}
			if(count==2){
				elements[tam].classList.add("btn-info");
				elements[tam].classList.add("btn-noAplica");
				
				if(bandera==false){
					elements[tam].classList.add("active");
					elements[tam].style.background="#2b69a1 !important";
				}
				
				count=-1;
			}
			if(tam==0){
				bandera=false;
				}
			//elements[tam].classList.add("btn-info");
			//elements[tam].classList.add("btn-noAplica");
			var index=tam;
			elements[tam].este=tam;
			 elements[tam].addEventListener("keypress", function (e){
				 
					onUploadLabelClick(e);
					console.log(e.target);
					e.target.classList.add("active");
					
					var val=e.target.este;
					var resp=val%3;
					//alert(resp);
					var elements=document.getElementsByClassName("radio-inline");
					if(resp==0){
							e.target.style.background="#2b69a1 !important";
							elements[(val+1)].classList.remove("active");
							elements[(val+1)].style.background="none";
							elements[(val+2)].classList.remove("active");
							elements[(val+2)].style.background="none";			
					}
					if(resp==1){
						e.target.style.background="#2b69a1";
						elements[(val-1)].classList.remove("active");
						elements[(val-1)].style.background="none";
						elements[(val+1)].classList.remove("active");
						elements[(val+1)].style.background="none";			
					}
					if(resp==2){
						e.target.style.background="#2b69a1";
						elements[(val-1)].classList.remove("active");
						elements[(val-1)].style.background="none";
						elements[(val-2)].classList.remove("active");
						elements[(val-2)].style.background="none";			
					}
					});
			 elements[tam].addEventListener("click", function (e){
				 
					//onUploadLabelClick(e);
					//console.log(e.target);
					e.target.classList.add("active");
					
					var val=e.target.este;
					var resp=val%3;
					//alert(resp);
					var elements=document.getElementsByClassName("radio-inline");
					if(resp==0){
							e.target.style.background="#2b69a1 !important";
							elements[(val+1)].classList.remove("active");
							elements[(val+1)].style.background="none";
							elements[(val+2)].classList.remove("active");
							elements[(val+2)].style.background="none";			
					}
					if(resp==1){
						e.target.style.background="#2b69a1";
						elements[(val-1)].classList.remove("active");
						elements[(val-1)].style.background="none";
						elements[(val+1)].classList.remove("active");
						elements[(val+1)].style.background="none";			
					}
					if(resp==2){
						e.target.style.background="#2b69a1";
						elements[(val-1)].classList.remove("active");
						elements[(val-1)].style.background="none";
						elements[(val-2)].classList.remove("active");
						elements[(val-2)].style.background="none";			
					}
					});
				
		}
    }
    function onUploadLabelClick(evt) {
    	//alert("Evento");
    	var keyCode = evt.which || evt.keyCode;
    	//alert(keyCode);
    	if (keyCode === 13 || keyCode === 32) {
        	$(evt.target).click();
        	evt.preventDefault();
    	}
    }
    function setStyleRadioChecked(checks, noAplica){
        var siNo=checks.split(";");
        var noA=noAplica.split(";");
        var elements=document.getElementsByClassName("radio-inline");
		 //elements[0].setAttribute("tabindex","0");
		 var tam=elements.length;
		 bandera=true;
		 console.log("banderaaaa: "+bandera);
		 var ind=siNo.length;
		 
		// alert(tam);
		var contador=noA.length-1;
		 var count=-1;
		 while(tam--){
			//console.log(tam);
			//console.log(elements[tam])
			count++;
			elements[tam].setAttribute("tabindex","0");
			elements[tam].classList.add("btn");
			if(count==0){
				elements[tam].classList.add("btn-info");
				elements[tam].classList.add("btn-Si");
				if(siNo[contador]=="true"){
					console.log(siNo[contador]);
					elements[tam].classList.add("active");
					elements[tam].style.background="#2b69a1";
					
					//contador--;
				}
			}
			if(count==1){
				elements[tam].classList.add("btn-info");
				elements[tam].classList.add("btn-No");
				if(siNo[contador]=="false"){
					if(noA[contador]=="false"){
					elements[tam].classList.add("active");
					elements[tam].style.background="#2b69a1";
					//contador--;
					}
				}
				//count=-1;
			}
			if(count==2){
				elements[tam].classList.add("btn-info");
				elements[tam].classList.add("btn-noAplica");
				
				count=-1;
				if(noA[contador]=="true"){
					elements[tam].classList.add("active");
					elements[tam].style.background="#2b69a1 !important";
					
				}
				contador--;
			}
			
    }
		    cerrarCargando2();
    }

    function selecciona(id){
		var select=document.getElementById("form-list:menu");
		select.getElementsByTagName("option")[id].selected='selected';
     }
    </script>
    <!-- Ir arriba script -->
    <script>
    document.getElementById('wizard:escribir').disabled=true;
 // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
            
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
    </script>
    <!-- <script>
  //<![CDATA[
    $(document).ready(function () {
    	  var navListItems = $('div.setup-panel div a'),
    	          allWells = $('.setup-content'),
    	          allNextBtn = $('.nextBtn'),
    	  		  allPrevBtn = $('.prevBtn');

    	  allWells.hide();

    	  navListItems.click(function (e) {
    	      e.preventDefault();
    	      var $target = $($(this).attr('href')),
    	              $item = $(this);

    	      if (!$item.hasClass('disabled')) {
    	          navListItems.removeClass('btn-primary').addClass('btn-default');
    	          $item.addClass('btn-primary');
    	          allWells.hide();
    	          $target.show();
    	          $target.find('input:eq(0)').focus();
    	      }
    	  });
    	  
    	  allPrevBtn.click(function(){
    	      var curStep = $(this).closest(".setup-content"),
    	          curStepBtn = curStep.attr("id"),
    	          prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

    	          prevStepWizard.removeAttr('disabled').trigger('click');
    	  });

    	  allNextBtn.click(function(){
    	      var curStep = $(this).closest(".setup-content"),
    	          curStepBtn = curStep.attr("id"),
    	          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
    	          curInputs = curStep.find("input[type='text'],input[type='url']"),
    	          isValid = true;

    	      $(".form-group").removeClass("has-error");
    	      for(var i=0; i<curInputs.length; i++){
    	          if (!curInputs[i].validity.valid){
    	              isValid = false;
    	              $(curInputs[i]).closest(".form-group").addClass("has-error");
    	          }
    	      }

    	      if (isValid)
    	          nextStepWizard.removeAttr('disabled').trigger('click');
    	  });

    	  $('div.setup-panel div a.btn-primary').trigger('click');
    	});
  //]]>
    </script>-->
    
    <h:form>
  			<p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true" height="100">
   					 <h:outputText value="This is a Modal Dialog." />
			</p:dialog>  
  		</h:form>
<!-- DIALOGO CARGANDO -->
    <div id="light" class="white_content">
    	
	   <h:outputLabel id="message" value="#{beanFormulario.mensaje}" />
  					<!-- <h1 align="center"><a href="javascript:void(0)" onclick="cerrarCargando()">Cerrar</a></h1> -->
  		<h:form>
  			<p:progressBar  widgetVar="progressBar"
                        ajax="true"
                        interval="500"
                        value="#{beanFormulario.progress}"
                        labelTemplate="{value}%"
                        global="false"
                        style="width:500px; visibility:hidden;" >

            <p:ajax event="complete"
                    
                    oncomplete="jsOnComplete()"/>

        </p:progressBar>
  		</h:form>
  		<center><h:outputLabel style="color:white; font-size:18px;" value="Espere por favor..."></h:outputLabel></center>
  	</div>
  				<div id="fade" class="black_overlay">
  					<img src="resources/images/arrow.png" style="position:  absolute; bottom: 0; left:2em;"></img>
  				</div>
  	
  	<!-- ANALIZANDO -->
  	<h:form id="form-show">
  	<div id="light2" class="white_content2">
    	<label>Espere por favor!</label>
	   <label>Analizando....</label>
	   
  					<!-- <h1 align="center"><a href="javascript:void(0)" onclick="cerrarCargando()">Cerrar</a></h1> -->
  	</div>
  	<div id="fade2" class="black_overlay2"></div>
  	</h:form>
  	<script type="text/javascript">
    function jsOnComplete() {
       // PF('taskButton').enable();
        console.log("terminado");
    }
    jQuery.curCSS = function(element, prop, val) {
	    return jQuery(element).css(prop, val);
	};
    function jsStartTask() {
        console.log("incia");
     // PF('taskButton').disable();
     // PF('progressBar').cancel();
      PF('progressBar').setValue(0);
      PF('progressBar').start();
      console.log("inciammmmmmmmmmmmm");
    }
    function jsStartTaskC() {
    	
        console.log("incia");
        PF('dlg2').show();
    }
    function jsOnCompleteC() {
    	PF('dlg2').hide();
     }
    function block(){
    	$.blockUI({ message: '<h1>Analizando...</h1><h2>Espere por favor!!</h2>' });
        }
    </script>
    <script src="resources/js/jquery.blockUI.js"></script>
</body> 
</html>
