<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>RCA: Guia de Usuario</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
     <script src="resources/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</h:head> 
<body>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herramientas <span class="caret"></span> </a>
                    	<ul class="dropdown-menu">
                            <li><a href="formulario_metas.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li ><a href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Información <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li ><a href="informacion_metadatos.jsf"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li ><a href="informacion_discapacidades.jsf"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li ><a href="informacion_wcag2.jsf"><span class="glyphicon glyphicon-list"></span> WCAG 2</a></li>
                        </ul>
                    </li>
                    <li><a class="selected" href="guia.jsf"><span class="glyphicon glyphicon-book"></span> Guía</a></li>
                    <li><a href="acerca_de.jsf"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section id="portfolio" class="container bs-docs-container body">
    	
	    <div id="container">
	    	<div class="gap"></div>
	    	<div class="left gap fade-down section-heading hr"> 
		   		<!--  <span class="home-icon pe-7s-gleam bounce-in"></span>-->
		       <h1 class="display-1"><b>Escribir Metadatos de Accesibilidad en el objeto de Aprendizaje</b></h1>
		       
		       <hr style="align-content: left; margin-left: 0px;"/>
		       <a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('formulario-infor').style.display=='none'){document.getElementById('formulario-infor').style.display='block';}else{document.getElementById('formulario-infor').style.display='none';} expandCollapse('formulario');">
		   		<div class="alert bg-info">
	   				<h3><b>Mostrar información <span id="formulario" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		   		<div id="formulario-infor" style="display: none;">
		       <p class="infor">Para escribir metadatos de accesibilidad en el objeto de aprendizaje, debe seguir los siguientes pasos:</p>
               <ol class="infor">
                   <li>Diríjase a la pagina de Formulario a través del enlace <b>Formulario</b> que se encuentra en el menú <b>Herramientas</b>.</li>
                   <li>Una vez que se encuentre en la página formulario, seleccione el botón <b>Seleccionar Directorio y Cargar</b>, escoja el Directorio
                   del objeto de Aprendizaje que se va a usar y seleccione en el boton de <b>Cargar</b>.
                       <ul>
                           <li>
                           <b>Nota:</b> Debe esperar hasta que el objeto de aprendizaje se cargue en el servidor.
                           </li>
                       </ul>
                   </li>
                   <li>Cuando se haya terminado de cargar el objeto de aprendizaje en el servidor, aparecerá una nueva interfaz, donde usted debe, antes de realizar
                   cualquier uso de esa interfaz, seleccionar uno de todos los títulos de su contenido en el objeto de aprendizaje que se muestran en la parte izquierda
                   de la interfaz..
                       <ul>
                           <li><b>Nota:</b> Cada vez que seleccione un título, debe esperar mientras se actualiza la página con el análisis que realizará de forma automática el sistema
                           a cada archivo que pertenezca al título seleccionado. </li>
                       </ul>
                   </li>
                   <li>Después de que se haya actualizado la página de manera adecuada, usted visualizará como encabezado en la parte derecha de
                   la interfaz una vista previa de el archivo html seleccionado por título y un enlace a dicho archivo. Debajo de este encabezado, se encuentra un panel
                   con diferentes opciones a las cuales están asociadas varias preguntas.</li>
                   <li>Usted debe responder a cada una de la preguntas que se encuentren en en cada una de las opciones antes señaladas en casa de ser necesario.</li>
                   <li>Para responder a cada pregunta se le brinda tres opciones:
                       <ul>
                           <li><b>No Aplica:</b> Esta opción se encuentra seleccionada por defecto, a no ser que en el análisis automático descrito en el paso 3. Seleccione esta
                           opción en caso de que la pregunta sea ajena al contenido del archivo seleccionado por título del objeto de aprendizaje (<i>Ejemplo: Los videos contienen subtítulos?, y su
                           objeto de aprendizaje no tiene videos</i>).</li>
                           <li><b>No:</b> Seleccione esta opción en caso de que el contenido del archivo seleccionado por título del objeto de aprendizaje no contenga lo que
                           indica la pregunta (<i>Ejemplo: Los videos contienen subtítulos?, y los videos no contienen subtítulos</i>).</li>
                           <li><b>Si:</b> Seleccione esta opción en caso de que el contenido del archivo seleccionado por título del objeto de aprendizaje si contenga lo que
                           indica la pregunta (<i>Ejemplo: Los videos contienen subtítulos?, y todos los videos si contienen subtítulos</i>).</li>
                       </ul>
                   </li>
                   <li>Usted debe escoger y responder a todos los archivos y preguntas que considere necesario, una vez que ya haya terminado,seleccione <b>Escribir y Descargar</b>, para
                   escribir las respuestas brindadas y descargar el Objeto de Aprendizaje con estas respuestas escritas.
                   <ul>
                       <li><b>Nota Importante:</b> No escriba las respuestas a las preguntas por cada archivo seleccionado por título, es decir, no presione en <b>Escribir y Descargar</b> 
                       si va a seguir respondiendo preguntas para otros archivos, sino cuando ya termine de responder para cada uno de los archivos que usted considere.</li>
                       <li>Recuerde que al presionar en <b>Escribir y Descargar</b> se borrará por completo su objeto de aprendizaje del servidor, esto significa que para volver a escribir, debe
                       volver a cargar el objeto de aprendizaje desde la interfaz principal del formulario.</li>
                   </ul>
                   </li>
               </ol>
		       </div>
		       
		       <h1 class="display-1"><b>Analizar el Objeto de Aprendizaje y Mostrar Recomendaciones</b></h1>
		       
		       <hr style="align-content: left; margin-left: 0px;"/>
		       <a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('recomendador-infor').style.display=='none'){document.getElementById('recomendador-infor').style.display='block';}else{document.getElementById('recomendador-infor').style.display='none';} expandCollapse('recomendador');">
		   		<div class="alert bg-info">
	   				<h3><b>Mostrar información <span id="recomendador" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		       <div id="recomendador-infor" style="display: none;">
		       <p class="infor">Para hacer uso de la herramienta de recomendador, debe seguir los siguientes pasos:</p>
               <ol class="infor">
                   <li>Diríjase a la página de Recomendador a través del enlace <b>Analizar y Recomendar</b> que se encuentra en el menú <b>Herramientas</b> o
                   a través del botón de la Página Principal del Sistema.</li>
                   <li>Una vez que se encuentre en la página del recomendador, seleccione todas las discapacidades para las que desea analizar su objeto de aprendizaje.</li>
                   <li>Luego de escoger las discapacidades necesarias, seleccione el botón <b>Seleccionar Directorio y Analizar</b>, escoja el Directorio
                   del objeto de Aprendizaje que se va a analizar y seleccione en el boton de <b>Cargar</b>.
                       <ul>
                           <li>
                           <b>Nota:</b> Debe esperar hasta que el objeto de aprendizaje se cargue en el servidor y sea analizado por el mismo, <b>este proceso puede tardar
                           varios minutos, por favor sea paciente</b>.
                           </li>
                       </ul>
                   </li>
                   <li>Cuando se haya terminado de cargar y analizar el objeto de aprendizaje en el servidor, aparecerá una nueva interfaz, donde se muestran los resultados
                   del análisis.
                       <ul>
                           <li>En la cabecera de la derecha de la interfaz, se mostrarán los resultados generales del análisis (Ejemplo: título, número de imágenes, número de
                           videos, etc.).</li>
                           <li>Debajo de la cabecera antes descrita, aparece información detallada sobre el análisis y las recomendaciones para mejorar la accesibilidad del
                           objeto de aprendizaje analizado, así como también, un listado de criterios de éxito de la <b>normativa WCAG 2</b> que se están cumpliendo categorizados
                           por las discapacidades seleccionadas.</li>
                           <li>Finalmente, en la parte derecha de la interfaz, se mostrarán las estadísticas del análisis, las cuales consisten en una gráfica radial (en
                           caso de que haya seleccionado más de dos discapacidades) o de barras (en el caso de que haya seleccionado una o dos discapacidades) donde se muestran
                           los porcentajes de accesibilidad del objeto de aprendizaje para cada una de las discapacidades seleccionadas. También se muestra una tabla estadística
                           de cada una de las discapacidade seleccionadas con sus respectivos porcentajes de accesibilidad.</li>
                       </ul>
                   </li>
                   
               </ol>
		       </div>
		       <h5 class="infor">En caso de requerir información más detallada sobre el funcionamiento del sistema, se recomienda descargar el siguiente documento: 
		       <a href="resources/guide/Guia.pdf" style="color: #337ab7; text-decoration: underline;" target="_blank">Manual de Funcionamiento del Sistema</a>.</h5>
		       </div>
	   </div>
	    <!-- IR ARRIBA -->
              <a href="javascript:void(0)" id="return-to-top"><i class="icon-chevron-up"></i></a>
	   </section>
		 <!-- IR ARRIBA -->
   		 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
   
    
     <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script type="resources/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script> 
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    
    <!-- Ir arriba script -->
    <script>
 // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
            
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
    </script>
     <!-- EXPANDIR NO EXPANDIR -->
    <script >
		function expandCollapse(id){
			var span=document.getElementById(id);
			if(span.className.includes("plus")){
				span.classList.remove("glyphicon-plus");
				span.classList.add("glyphicon-minus");
			}else{
				span.classList.add("glyphicon-plus");
				span.classList.remove("glyphicon-minus");
			}
		}
    </script>	
</body> 
</html>
