<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>RCA: Información acerca de la normativa WCAG2</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
     <script src="resources/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</h:head> 
<body>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herramientas <span class="caret"></span> </a>
                    	<ul class="dropdown-menu">
                            <li><a href="formulario_metas.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li ><a href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                    	<a href="#" class="nav-link dropdown-toggle selected" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Información <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li ><a href="informacion_metadatos.jsf"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li ><a href="informacion_discapacidades.jsf"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li class="selected-item"><a class="selected-item" href="informacion_wcag2.jsf"><span class="glyphicon glyphicon-list"></span> WCAG 2</a></li>
                        </ul>
                    </li>
                    <li><a href="guia.jsf"><span class="glyphicon glyphicon-book"></span> Guía</a></li>
                    <li><a href="acerca_de.jsf"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->
    
    <section id="portfolio" class="container bs-docs-container body">
    	
	    <div id="container">
	    	<div class="gap"></div>
	    	<div class="left gap fade-down section-heading hr"> 
		   		<!--  <span class="home-icon pe-7s-gleam bounce-in"></span>-->
		       <h1 class="display-1"><b>WCAG 2</b></h1>
		       
		       <hr style="align-content: left; margin-left: 0px;"/>
		       
		       <p class="infor">WCAG 2 está aprobado como un estándar ISO: ISO / IEC 40500: 2012. ISO / IEC 40500.</p>
		       <p class="infor">Las directrices de  evaluación de accesibilidad en una página web están definidas en la 
		       normativa WCAG 2  y son varios los países que la han adoptado en sus legislaciones, por lo que su aplicación 
		       debe ser considerada en todas las fases de desarrollo de un sitio web. Con ello hablar de entornos de aprendizaje 
		       virtuales y los recursos que se emplean, es direccionar los esfuerzos a un desarrollo acorde que cumpla con todas 
		       las directrices de la  web, sus normativas de usabilidad, accesibilidad, estructura adecuada, entre otros. 
		       Web Content Accessibility GuideLines 2 (WCAG 2) son las Pautas de Accesibilidad para Contenido Web, que cubre 
		       una alta gama de recomendaciones para hacer que el contenido web sea accesible para diferentes tipos de discapacidades.</p>
		       <p class="infor">Estas recomendaciones, se las denomina pautas de accesibilidad, las cuales están conformadas por 
		       varios criterios de éxito, que a su vez, estos últimos, poseen técnicas, que brindan información sobre cómo cumplir 
		       estos criterios y que no se debe hacer en el contenido web.</p>
		       <p class="infor">Para mayor información visite <a class="ref" href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG 2</a>.</p>
		       </div>
	   </div>
	    <!-- IR ARRIBA -->
              <a href="javascript:void(0)" id="return-to-top"><i class="icon-chevron-up"></i></a>
	   </section>
		 <!-- IR ARRIBA -->
   		 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
   
    
     <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script type="resources/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script> 
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    
    <!-- Ir arriba script -->
    <script>
 // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
            
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
    </script>
</body> 
</html>
