<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>RCA: Resultado de Análisis</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
     <script src="resources/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</h:head> 
<body>
<h:form>
	<!-- <p:remoteCommand action="#{beanSeleccion.espera()}" autoRun="true">
		
	</p:remoteCommand> -->
	<script type="text/javascript">
		$(document).ready(function (){document.getElementById('general:button').click();});
	</script>
</h:form>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown active">
                    	<a href="#" class="dropdown-toggle selected" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herramientas <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li><a href="formulario_metas.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li class="selected-item"><a class="selected-item" href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                    	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Información <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li><a href="informacion_metadatos.jsf"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li><a href="informacion_discapacidades.jsf"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li><a href="informacion_wcag2.jsf"><span class="glyphicon glyphicon-list"></span> WCAG 2</a></li>
                        </ul>
                    </li>
                    <li><a href="guia.jsf"><span class="glyphicon glyphicon-book"></span> Guía</a></li>
                    <li><a href="acerca_de.jsf"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->
    
    <div id="content-wrapper" class="infor">
    <section id="portfolio" class="white">
    	
	    <div id="container">
	    	<div class="gap"></div>
	    	<div class="center gap fade-down section-heading hr"> 
		   		<!--  <span class="home-icon pe-7s-gleam bounce-in"></span>-->
		       <h1 class="display-1"><b>Recomendador de Contenidos Accesibles</b></h1>
		       <h4 class="display-1"><b>Resultados de Análisis</b>.</h4>
		       <hr/>
		    </div>
	   </div>
	   <h:form id="general" >
	   		<div id="content" class="row r">
	   		<div class="col-md-8">
	   		<div class="col-md-5" style="width: auto;">
    		<h2>Resultado del Análisis</h2>
    		<strong>Título:</strong> #{beanSeleccion.titulo}
    		<br/>
    		<strong>Número de HTMLs:</strong> #{beanSeleccion.numeroHTML}
    		<br/>
    		<strong>Número de CSS:</strong> #{beanSeleccion.numeroCSS}
    		<br/>
    		<strong>Número de JS:</strong> #{beanSeleccion.numeroJS}
    		<br/>
    		<strong>Número de imagenes:</strong> #{beanSeleccion.numeroImagenes}
    		<br/>
    		<strong>Número de videos:</strong> #{beanSeleccion.numeroVideos}
    		<br/>
    		<strong>Fecha/Hora:</strong> #{beanSeleccion.fechaHora}
    		</div>
    		<div class="col-md-3">
    		<img class="img-responsive" src="data:image/png+xml;utf8;base64,#{beanSeleccion.imagenBase64}" alt="La imagen representa una captura 
    		de pantalla del index.html en caso de existir, caso contrario, de un archivo html 
    		cualquiera del Objeto de Aprendizaje"></img>
    		</div>
    		</div>
    		</div>
    		
	   		<!-- <div id="graph" class="general row r">
	   			<div class="descripcion flex-item col-md-8 alert bg-light">
		   		<h1>Descripcion General</h1>
		   		<h:outputText value="#{beanSeleccion.descripcionGeneral}" styleClass="preformatted" escape="false"/>
		   		<h:outputText value="#{beanSeleccion.descripcionGeneralF}" styleClass="preformatted" escape="false"/>
		   		</div>
		   		<canvas id="grafica" class="flex-item" width="300" height="300%"></canvas>
	   		</div>
	   		 -->
	   		<div id="contents" class="rowd r">
	   		<div class="col-md-8 ">
	   			<div class="alert bg-light">
	   			<h1>Descripción General</h1>
		   		<h:outputText value="#{beanSeleccion.descripcionGeneral}" styleClass="preformatted" escape="false"/>
		   		<a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('no-accesibles').style.display=='none'){document.getElementById('no-accesibles').style.display='block';}else{document.getElementById('no-accesibles').style.display='none';} expandCollapse('noA');">
		   		<div class="alert bg-info">
	   				<h3><b>Contenidos no Accesibles encontrados <span id="noA" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		   		<div id="no-accesibles" style="display: none;" class="inforDos">
	   					<h:outputText value="#{beanSeleccion.descripcionGeneralN}" styleClass="preformatted" escape="false"/>
	   			</div>
	   			<a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('accesibles').style.display=='none'){document.getElementById('accesibles').style.display='block';}else{document.getElementById('accesibles').style.display='none';} expandCollapse('siA');">
		   		<div class="alert bg-info">
	   				<h3><b>Contenidos Accesibles encontrados <span id="siA" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		   		<div id="accesibles" style="display: none;" class="inforDos">
	   					<h:outputText value="#{beanSeleccion.descripcionGeneralF}" styleClass="preformatted" escape="false"/>
	   			</div>
	   			<a class="expand" href="javascript:void(0);" onclick="if(document.getElementById('consideraciones').style.display=='none'){document.getElementById('consideraciones').style.display='block';}else{document.getElementById('consideraciones').style.display='none';} expandCollapse('gen');">
		   		<div class="alert bg-info">
	   				<h3><b>Consideraciones Generales <span id="gen" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
		   		</a>
		   		<div id="consideraciones" style="display: none;" class="inforDos">
	   					<h:outputText value="#{beanSeleccion.consideracionesGenerales}" styleClass="preformatted" escape="false"/>
	   			</div>
		   		</div>
		   		<br></br>
		   		<h1>Criterios de WCAG 2 que se están cumpliendo</h1>
	   			<ui:repeat value="#{beanSeleccion.recomendacion.entrySet().toArray()}" var="entry" varStatus="stat">
	   				
	   				<a class="expand" href="javascript:void(0);" id="toggle#{stat.index}" onclick="if(document.getElementById('t#{stat.index}').style.display=='none'){document.getElementById('t#{stat.index}').style.display='block';}else{document.getElementById('t#{stat.index}').style.display='none';} expandCollapse('c#{stat.index}');
		   				">
	   				<div class="alert bg-info">
	   				<h3><b>#{entry.key} <span id="c#{stat.index}" style="font-size: 0.7em;" class="glyphicon glyphicon-plus"></span></b></h3>
	   				</div>
	   				</a>
	   				
	   				<div id="t#{stat.index}" style="display: none;">
	   					<h:outputText value="#{entry.value}" escape="false"/>
	   				</div>
	   				<!-- <h:outputText value="#{entry.value}" escape="false"/>-->
	   			</ui:repeat>
	   			
	   		</div>
	   		<div class="col-md-4 sticky">
	   			<center><div >
	   			<h1 style="text-align: left;">Estadísticas</h1>
	   			<canvas id="grafica" class="flex-item" width="300" height="300%"></canvas>
	   			<h:commandButton style="display:none;" class="btn btn-primary no-estilo change" id="button" onclick="graficar('#{beanSeleccion.keys}','#{beanSeleccion.vals}');" value="Mostrar Grafica" >
	   			<f:ajax render="grafica" ></f:ajax>
	   		</h:commandButton>
	   		
	   			</div>
	   			<p:dataTable style="width:100%;" var="entry" value="#{beanSeleccion.resultadosGenerales.entrySet().toArray()}">
	   				<p:column headerText="Discapacidad">
				        <h:outputText value="#{entry.key}" />
				    </p:column>
	   				<p:column headerText="Porcentaje">
				        <h:outputText value="#{entry.value}" >
				        	
				        </h:outputText>
				    </p:column>
	   			
	   			</p:dataTable>
	   			<h:commandButton class="btn btn-primary" action="#{beanSeleccion.nuevoAnalisis()}" value="Nuevo Analisis" />
	   			</center>
	   		</div>
	   		</div>
	   		<!--  <h:commandButton id="buttonn" onclick="graficar('#{beanSeleccion.keys}','#{beanSeleccion.vals}');" value="Mostrar Gragica" >
	   			<f:ajax render="grafica" ></f:ajax>
	   		</h:commandButton>-->
	   		<!-- <h:commandButton id="button" action="#{beanResultados.mostrarResultados()}" onclick="graficar('#{beanResultados.key}','#{beanResultados.val}');"  value="Mostrar Resultados" >
	   			<f:ajax render="grafica" ></f:ajax>
	   		</h:commandButton> -->
	   </h:form>
	   
	   <!-- IR ARRIBA -->
              <a href="javascript:void(0)" id="return-to-top"><i class="icon-chevron-up"></i></a>
	 </section>
    </div>
    
    <!-- IR ARRIBA -->
   		 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    <script src="resources/js/json2.js"></script>
    <!-- Para Graficar -->
    <script type="text/javascript" src="resources/js/Chart.min.js"></script>
    
    <script>
  //<![CDATA[
	function graficar(keys, values){
		//alert("hola");
		var ctx = document.getElementById("grafica").getContext("2d");
		var keyss=keys.split(";");
		var valuess=values.split(";");
		//alert(keyss);
		var charLabels=[];
		var charValue=[]
		var i=0;
		for (i=0; i<keyss.length;i++){
			if(keyss[i]!=""){
				charLabels.push(keyss[i].substring(keyss[i].indexOf("#")+1));
				//charValue.push(parseFLoat(valuess[i]));
				charValue.push(valuess[i]);
			}
		}
		var tam=charLabels.length;
		console.log(charValue);
		overlayDataset = {
    			fill: 'rgba(91,144,191,0.4)',
    			stroke: 'rgba(91,144,191,1)',
    			highlight: 'rgba(91,144,191,0.8)',
    			highlightStroke: 'rgba(91,144,191,1)'
    		};

        var options = {
        		scaleOverride: true,
        	    scaleSteps: 5,
        	    scaleStepWidth: Math.ceil(100 / 5),
        	    scaleStartValue: 0,
        		scaleShowLabels : true,
        		
        			 
        };

        var data = {
        		//labels : ["Perceptible","Robusto","Comprensible","Operable"],
        		//labels : ["Perceptible","Robusto"],
        		labels : charLabels,
        		datasets : [
        			{
							label: "Grafico radial de estado del sitio",
							fillColor: overlayDataset.fill,
							strokeColor: overlayDataset.stroke,
							pointColor: overlayDataset.stroke,
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: overlayDataset.highlightStroke,
							highlightFill: overlayDataset.highlight,
							//data: [73,50,100]
							//data: [73, 50]
							data : charValue
        			}
        		]
        	};

        if(tam<3){
        	var myNewChart = new Chart(ctx).Bar(data, options);
        }else{
        	var myNewChart = new Chart(ctx).Radar(data, options);
        }
	}
	//]]>
    </script>
    <!-- EXPANDIR NO EXPANDIR -->
    <script >
		function expandCollapse(id){
			var span=document.getElementById(id);
			if(span.className.includes("plus")){
				span.classList.remove("glyphicon-plus");
				span.classList.add("glyphicon-minus");
			}else{
				span.classList.add("glyphicon-plus");
				span.classList.remove("glyphicon-minus");
			}
		}
    </script>
    <!-- Ir arriba script -->
    <script>
 // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
            
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
    </script>
</body> 
</html>
