<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>RCA: Seleccione Perfil(Discapacidades) y Objeto de Aprendizaje a Analizar</title>
	<!-- Version actualizada de bootstrap para los glypthicons  -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
	
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="resources/css/pe-icons.css" rel="stylesheet" />
    <link href="resources/css/prettyPhoto.css" rel="stylesheet" />
    <link href="resources/css/animate.css" rel="stylesheet" />
    <link href="resources/css/style.css" rel="stylesheet" />
    <link href="resources/css/style2.css" rel="stylesheet" />
    <!-- icono -->
    <link rel="shortcut icon" href="resources/images/logo/logo.png"/>
    
   
     
     <script src="resources/js/jquery.js"></script>
     
    <!--[if lt IE 9]>
    <script src="resources/js/html5shiv.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]--> 
</h:head> 
<body>
    <h:form>
    	<p:remoteCommand action="#{beanSeleccion.resetearTodo()}" autoRun="true"></p:remoteCommand>
    </h:form>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.jsf"><h1><img src="resources/images/logo/logo.png" alt="La imagen muestra el logo de la UPS."></img> RCA</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.jsf" ><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li class="dropdown active">
                    	<a href="#" class="dropdown-toggle selected" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Herramientas <span class="caret"></span> </a>
                    	<ul class="dropdown-menu">
                            <li><a href="formulario_metas.jsf"><span class="glyphicon glyphicon-check"></span> Formulario</a></li>
                            <li class="selected-item"><a class="selected-item" href="seleccion.jsf"><span class="glyphicon glyphicon-stats"></span> Analizar y Recomendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                    	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-info-sign"></span> Información <span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                            <li><a href="informacion_metadatos.jsf"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> Metadatos</a></li>
                            <li><a href="informacion_discapacidades.jsf"><span class="glyphicon glyphicon-eye-close"></span> Discapacidades</a></li>
                            <li><a href="informacion_wcag2.jsf"><span class="glyphicon glyphicon-list"></span> WCAG 2</a></li>
                        </ul>
                    </li>
                    <li><a href="guia.jsf"><span class="glyphicon glyphicon-book"></span> Guía</a></li>
                    <li><a href="acerca_de.jsf"><span class="glyphicon glyphicon-question-sign"></span> Acerca de</a></li> 
                </ul>
            </div>
        </div>
    </header><!--/header-->

    <div id="content-wrapper">
        <section id="portfolio" class="white">
            <div class="container">
                <div class="gap"></div> 
                    <div class="center gap fade-down section-heading hr">
                    	<h2 class="main-title">Seleccione el Objeto de Aprendizaje y Discapacidades</h2>
            			<hr/>
        			    <p class="lead">Escoja una o mas discapacidades para las cuales se va a analizar y recomendar el objeto de aprendizaje y, finalmente, escoja el Objeto de Aprendizaje a Analizar. </p>
        				<br/>
        				<br/>
                        <h2 class="main-title">Seleccione Discapacidades</h2>
                        <hr/>
                        <p class="lead">Seleccione una o mas discapacidades.</p>
                    </div> 
            
		            <h:form id="formC" class="form" enctype="multipart/form-data">
		            	<ul class="center">
		            
						<div id="discapacidades" class="btn-group" data-toggle="buttons">
			
							<label class="btn btn-primary estilo active focus">
				    			<h:selectBooleanCheckbox value="#{beanSeleccion.visual}" /> Visual
				  			</label>
							  <label id="h" class="btn btn-primary estilo">
							    <h:selectBooleanCheckbox value="#{beanSeleccion.auditiva}" /> Auditiva
							  </label>
							  <label class="btn btn-primary estilo">
							    <h:selectBooleanCheckbox value="#{beanSeleccion.cognitiva}" /> Cognitiva
							  </label>
							  <label class="btn btn-primary estilo">
							    <h:selectBooleanCheckbox value="#{beanSeleccion.fisicaMotriz}" /> Fisica/Motriz
							  </label>
							  <label class="btn btn-primary estilo">
							    <h:selectBooleanCheckbox value="#{beanSeleccion.psicosocial}" > </h:selectBooleanCheckbox>Psicosocial
							  </label>
							 
						</div>
	           			</ul><!--/#End Discapacidades-->
	            
			            <div class="center gap fade-down section-heading hr">
			                <h2 class="main-title">Seleccione Objeto de Aprendizaje</h2>
			                <hr/>
			                <p class="lead">Seleccione <b>Seleccionar Directorio y Analizar</b>, escoja la carpeta del Objeto de aprendizaje y espere mientras se analiza.</p>
			            </div>
			            <ul class="center">
							<h:outputLabel id="for-in" for="in" class="btn btn-primary" tabindex="0" onkeypress="onUploadLabelClick(event)" value="#{beanSeleccion.directorioSeleccionado}" />
				            <o:inputFile id="in" class="inp" directory="true" value="#{beanSeleccion.files}" onchange="javascript:cambia(this); document.getElementById('formC:btn-cargar').click(); jsStartTask();"></o:inputFile>
				           <!--  <span class="btn btn-outlined btn-default glyphicon glyphicon-new-window" title="Presione cargar y analizar despues de seleccionar un Objeto de Aprendizaje" aria-hidden="true"></span> -->
				            <h:commandButton  id="btn-cargar" style="display:none;" class="btn btn-primary" value="Cargar y Analizar" action="#{beanSeleccion.analizaCOntenidos()}" disabled="false"><f:ajax execute="@form" render="@none" onevent="mostrarCargando()"/></h:commandButton>
				                 
			             </ul>
	            </h:form>
	            <!-- <button onclick="mostrarCargando()">Mostrar</button> -->  
            </div>
            <!-- IR ARRIBA -->
              <a href="javascript:void(0)" id="return-to-top"><i class="icon-chevron-up"></i></a>
         </section>
    </div>
    <!-- IR ARRIBA -->
   		 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    <!-- Modal Desea Analizar Contenido en Busca de Posibles Metadatos Automaticamente?-->
<div class="modal fade" id="modalDeseaAnalizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content background-color">
      <div class="modal-header">
        <h3 class="modal-title" id="modalDeseaAnalizarTitle">Seleccione discapacidad!</h3>
        <button type="button" class="close" title="Cerrar" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove white-color background-color" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="main-title" >Debe seleccionar al menos una discapacidad!</h2>
       <!-- <div id="include" w3-include-html="analiza_contenido_metas_automatico.xhtml" class="div-include-content background-color" style="display:none"></div>
         <label id="ejecutado">#{beanFormulario.ejecutado}</label> -->
      </div>
      <div class="modal-footer">
        <button id="button-no" type="button" class="btn btn-danger background-color" data-dismiss="modal">Aceptar</button>
        <!-- <button id="button-si" type="button" class="btn btn-success " onclick="abrirModalAnalizaOA()">Si</button> -->
      </div>
    </div>
  </div>
</div>
    <!-- Scripts a cargar -->
    <script src="resources/js/plugins.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.prettyPhoto.js"></script>   
    <script src="resources/js/init.js"></script>
    <script src="resources/js/menuItemSelected.js"></script>
    
    <script type="text/javascript">
    	
    /* <![CDATA[ */
	function cambiaEstilo(){
			var data=$('.estilo');
			//var dat=data[1].addclass("active");
			var i = 0;
			var contador=0;
			for(i=0;i<data.length;i++){
				if(data[i].className.includes("active")){
					
					contador++;
					console.log(contador + "data: "+data[i].className);
				}
			}
			for(i=0;i<data.length;i++){
				if(contador==5){
					data[i].classList.remove("active");
				}else{
					data[i].classList.add("active");
				}
				
			}
			
			//data[1].classList.add("active");
			//alert(dat);
			}
	/* ]]> */
    </script>
    
    <script>
    //funcion que setea en el label el numero de archivos en el objeto de aprendizaje seleccionado
    function cambia(obj){
        //alert(obj.files.length)
		//alert($(obj).prev('label').text());
		$(obj).prev('label').text(obj.files.length + " Archivos Seleccionados");
		//$('#formC btn-cargar').attr('disabled', 'disabled');
		/*if(obj.files.length>0){
			document.getElementById("formC:btn-cargar").disabled=false;
		}*/
		
		//var btn=$('#formC btn-cargar');
		//btn.disabled=true;
		//alert($("#formC btn-cargar").text())
		//var form=document.getElementsByClassName('form');
		//alert(form.element["btn-cargar"]);
    }
    function mostrarCargando(){
        //agrego la clas eno scrolling al body
        //$('document.body').addClass("no-scroll");
        var heighttt=document.documentElement.scrollHeight;
        //console.log("height: "+heighttt+"px");
        document.getElementById('fade').style.height=heighttt+"px";
        //var heightt=document.getElementById('fade').style.height;
        //console.log("height: "+heightt);
        topFunction();
        hideNavBar();
		document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block';
	}
	
	function cerrarCargando(){
		//alert("llega");
		showNavBar();
		document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';
	}
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
	    document.body.scrollTop = 0; // For Safari
	    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
	function hideNavBar(){
		$(".nav").hide();//oculta el menu
		$(".navbar-brand").hide();//oculta el icono de la barra de menu
	}
	function showNavBar(){
		$(".nav").show();//muestra el menu
		$(".navbar-brand").show();//muestra el icono de la barra de menu
	}

	///EVENTO DEL TECLADO EN EL LABEL "SELECCIONA DIRECTORIO" (ACCESIBILIDAD)
	//$().keypress(function(event));
	function onUploadLabelClick(evt) {
		//alert("Evento");
    	var keyCode = evt.which || evt.keyCode;
    	//alert(keyCode);
    	if (keyCode === 13 || keyCode === 32) {
        	$(evt.target).click();
        	evt.preventDefault();
    	}
	}
    </script>
    
    <!-- DIALOGO CARGANDO -->
    <div id="light" class="white_content">
	   <h:outputLabel id="message" value="#{beanSeleccion.message}" />
  					<!-- <h1 align="center"><a href="javascript:void(0)" onclick="cerrarCargando()">Cerrar</a></h1> -->
  					<h:form>
  			<p:progressBar  widgetVar="progressBar"
                        ajax="true"
                        interval="500"
                        value="#{beanSeleccion.progress}"
                        labelTemplate="{value}%"
                        global="false"
                        style="width:500px">

            <p:ajax event="complete"
                    
                    oncomplete="jsOnComplete()"/>

        </p:progressBar>
  		</h:form>
  		<h:outputLabel style="color:white;" value="Espere por favor..."></h:outputLabel>
  	</div>
  				<div id="fade" class="black_overlay"></div>
  				
  				<script>
  				function jsOnComplete() {
  			       // PF('taskButton').enable();
  			        console.log("terminado");
  			    }
  			    jQuery.curCSS = function(element, prop, val) {
  				    return jQuery(element).css(prop, val);
  				};
  			    function jsStartTask() {
  			        console.log("incia");
  			     // PF('taskButton').disable();
  			     // PF('progressBar').cancel();
  			      PF('progressBar').setValue(3);
  			      PF('progressBar').start();
  			      console.log("inciammmmmmmmmmmmm");
  			    }
  				</script>
  				
  				<!-- Ir arriba script -->
    <script>
 // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
            
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
    </script>
</body> 
</html>
